body{
    background-color: rgb(253, 239, 177);
}
/* ponto e virgula */
header{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.mapa{
    width: 30%;
}
.intro{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    }

    a{
        color: brown;
        text-decoration:none ;
    }

    .equipe{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
        background-color: antiquewhite;
    }
    .canada{ 
        display: flex;
    }