body{
    background-color: #F9E0C4;
}
/* ponto e virgula */
header{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.mapa{
    width: 30%;
}
.intro{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    }

    a{
        color: brown;
        text-decoration:none ;
    }

    .equipe{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
        background-color: antiquewhite;
    }
    .primeiro{ 
        display: flex;
        text-align: center;
        align-items: center;
        margin: 20px;

    }
    .portugal{
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0 20px;
        justify-content: flex-end;
    }

    .esq{
        margin-left: 20px;
    }

    .dir{
        margin-right: 20px;
    }
    
    footer{

    }